@media only screen and (min-width: 1000px){
    .artist_page_thumbnail{
        width: 60%;
    }
}

@media only screen and (max-width: 1100px){
    .top100_item{
        width: 75%;
    }
}

@media only screen and (max-width: 1000px){
    .top100_item{
        width: 80%;
    }
    .playlist_wrapper{
        display: block;
    }
    .playlist_song_wrapper{
        text-align: center;
        width: fit-content;
        margin: auto;
    }
    .playlist_song_list_wrapper{
        margin: 0px;
    }
    .playlist_song_title_wrapper{
        margin: 0px;
    }
    .playlist_song_list_wrapper > h3{
        margin: 0px;
    }
    .artist_wrapper{
        margin: 12px 0px 5px 0px;
    }
}

/*This is for the laptop with 800px or more*/
@media only screen and (max-width: 800px) {
    .middle_nav{
        width: 75%;
    }
    .song_search_nav_container{
        width: 65%;
    }
    .song_search_nav_item_name{
        width: 45%;
    }
    .song_search_nav_item_artist{
        width: 35%;
    }
    .song_search_nav_item{
        transform: none;
    }

    .artist_search_nav_container{
        width: 70%;
    }

    .artist_search_nav_item_name{
        width: 60%;
    }
    .artist_search_nav_item{
        transform: none;
    }
    .top100_item{
        width: 90%;
    }
    .playlist_search_nav_container{
        width: 90%;
    }

    .playlist_search_nav_item_name{
        width: 60%;
    }

    .playlist_search_nav_item{
        transform: none;
    }

    .playlist_personal_search_item{
        transform: none;
        transition: none;
        margin: 10px;
    }
}

/*This is for the tablet*/
@media only screen and (max-width: 650px) {
    .middle_nav{
        width: 80%;
    }
    .blog_img_wrapper{
        position: relative;
        width: 30%;
        height: 25%;
        margin: 15px 15px;
        max-width: 400px;
        margin: auto
    }
    
    .blog_img{
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 250px;
        max-width: 400px;
    }
    .song_search_nav_container{
        width: 70%;
    }

    .song_search_nav_item_duration{
        visibility: hidden;
    }
    .song_search_nav_item_name{
        width: 60%;
    }
    .song_search_nav_item_artist{
        width: 20%;
    }
    .song_search_nav_item{
        transform: none;
    }

    .artist_search_nav_container{
        width: 70%;
    }

    .artist_search_nav_item_name{
        width: 60%;
    }
    .artist_search_nav_item{
        transform: none;
    }

    .top100_item{
        width: 100%;
        transform:
            perspective(1200px)
            translate3d(0px, 0px, -250px);
        transition: none;
    }

    .playlist_search_nav_container{
        width: 70%;
    }

    .playlist_search_nav_item_name{
        width: 60%;
    }

    .playlist_search_nav_item{
        transform: none;
    }

    .playlist_personal_search_item{
        transform: none;
        transition: none;
        margin: 10px;
    }
}


/*This is for phone*/
@media only screen and (max-width: 500px){
    .middle_nav{
        width: 85%;
    }
    .menu_icon_wrapper{
        margin: auto;
    }
    .blog_content_wrapper{
        display: block;
        text-align: center;
    }
    .blog_img_wrapper{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: auto;
    }

    .blog_img{
        position: relative;
        width: 80%;
        height: 150px;
    }
    .blog_content{
        position: relative;
        width: 80%;
        margin: auto;
    }
    .song_search_nav_container{
        width: 80%;
    }

    .song_search_nav_item_duration{
        visibility: hidden;
    }
    .song_search_nav_item_name{
        width: 60%;
    }
    .song_search_nav_item_artist{
        width: 20%;
    }

    .song_search_nav_item{
        transform: none;
    }
    
    .artist_search_nav_container{
        width: 80%;
    }

    .artist_search_nav_item_name{
        width: 60%;
    }

    .artist_search_nav_item{
        transform: none;
    }

    .top100_item{
        width: 100%;
        transform:
            perspective(1200px)
            translate3d(0px, 0px, -250px);
        transition: none;
    }

    .playlist_search_nav_container{
        width: 80%;
    }

    .playlist_search_nav_item_name{
        width: 60%;
    }

    .playlist_search_nav_item{
        transform: none;
    }

    .playlist_personal_search_item{
        transform: none;
        transition: none;
        margin: 10px;
    }
}